@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tp-track-bg: #F8FAFC;
}


body {
  margin: 0;
  align-content: center;

}

/* NAVBAR ESTILO DASHBOARD (Efeito curva pra fora) */

.tp-nav-list {
  margin: 12px 0 ; /* margem externa */
  padding: 0 12px 1 ; /* alinhamento interno */
  list-style: none;
}

.tp-nav-item {
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 4px;
}

/* estado normal: texto branco, sem fundo */
.tp-nav-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

/* ícone normal branco */
.tp-nav-link svg {
  color: #ffffff;
}

/* HOVER + ATIVO: fundo branco e texto verde */
.tp-nav-item:hover,
.tp-nav-item.tp-nav-item--active {
  background-color: #F8FAFC;
}

.tp-nav-item:hover .tp-nav-link,
.tp-nav-item.tp-nav-item--active .tp-nav-link {
  color: #059669; /* emerald */
}

.tp-nav-item:hover .tp-nav-link svg,
.tp-nav-item.tp-nav-item--active .tp-nav-link svg {
  color: #059669;
}

/* --------- curvas externas (mesma lógica do CSS que você mandou) ---------- */
/* --------- curvas externas MAIS DISCRETAS ---------- */

